# Dependencias de Node.js
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Salida de producción
dist/
build/



# Logs
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Sistema operativo
.DS_Store
Thumbs.db

# Archivos de configuración del editor/IDE
.vscode/
.idea/
*.swp

# Archivos de caché de test
coverage/

# Archivos relacionados con Docker
docker-compose.override.yml

# Despliegues de Heroku
/.profile.d/
/.heroku/

# Salida de pruebas unitarias
/coverage/
/test-reports/

# Archivos temporales
*.tmp
*.temp
*.bak
